{% extends base.html %}
{% block content %}

<h1 class="text-center">Checkins hechos vs duración de la persona en el parque</h1>

<div id="main_map">
    <svg width="800" height="800" id="main_svg">
        <rect class="background" width="800px" height="800px" x="0" y="0">
        </rect>   
    </svg>
</div>
<div class="dino-control">
<div id="clock" class="well">Clock</div>
<button id="show_graphic_button" class="btn btn-default">Show Checkins</button>
<script type="text/javascript" src="static/js/dino_checkinduracion.js"></script>
</div>
{% end %}