{% extends base.html %}
{% block content %}

<h1 class="text-center">Tracking Single User</h1>

<div id="main_map">
	<svg width="800" height="800" id="main_svg">

		<image class="background" xlink:href="{{static_url('ParkMap.jpg')}}" x="0" y="0" width="800px" height="800px"/>
		<rect class="background" width="800px" height="800px" x="0" y="0">
		</rect>

	</svg>
</div>
<div class="dino-control">
	
	<div class="form-group">
		<h2>Instructions</h2>
		<ol>
			<li> Define the number of check-ins you want to find</li>
			<li> Select one from the list or write a User ID</li>
			<li> Click on 'Show User Path'</li>
			<li> Analyze the distance</li>
		</ol>
		<h3>Check-ins</h3>
		<input type="text" class="form-control" id="checkInNumber" placeholder="Less than...">
		<button id="show_less_check_in" class="btn btn-default">Show users with less checkins</button>
		<h3>Users List</h3>
		<div id="subjects_list" class="well"></div>
	</div>

	<div class="form-group">
		<h2>Analysis</h2>
		<div id="clock" class="well">Clock</div>
		<label for="userIdTitle">User ID</label>
		<input type="text" class="form-control" name="userId" id="userId" placeholder="Please write the user ID...">
		<button id="show_user_path" class="btn btn-default">Show User Path</button>
		<h3>Distance</h3>
		<label id="userDistance">Please write a user ID</label>
	</div>
	
	
	<script type="text/javascript" src="static/js/dino_user.js"></script>
</div>
{% end %}
